<p-sidebar
  [(visible)]="sidebarVisible"
  (visibleChange)="sidebarVisibleChange.emit($event)"
  position="left"
  [style]="{width:'15em'}"
>


  <h2>Contents</h2>
  <div class="p-d-flex p-flex-column">
    <a routerLink="/" class="p-button p-mb-3" (click)="sidebarVisibleChange.emit(false)">Home</a>
    <a routerLink="/explore" class="p-button p-mb-3" (click)="sidebarVisibleChange.emit(false)">Explore</a>
    <a routerLink="/travels" class="p-button p-mb-3" (click)="sidebarVisibleChange.emit(false)">Travels</a>
  </div>


</p-sidebar>
