<section id="explore">
  <p class="h1-font p-text-center">Instruction - explore</p>

  <div class="p-d-flex p-flex-column p-align-center">
    <div class="instruction p-d-flex p-flex-column p-align-center">
      <p class="h2-font p-text-center">Explore new places</p>
      <img src="/assets/instruction-1.PNG" alt="" class="instruction-image">
    </div>

    <div class="instruction p-d-flex p-flex-column p-align-center">
      <p class="h2-font p-text-center">Guess the country game</p>
      <img src="/assets/instruction-2.PNG" alt="" class="instruction-image">
    </div>
  </div>

  <div class="p-d-flex p-justify-center" style="margin-bottom: 5rem">
    <button pButton type="button" label="Go to Explore section!" routerLink="/explore"></button>
  </div>
</section>


<section id="travel">
  <p class="h1-font p-text-center">Instruction - travel</p>

  <div class="p-d-flex p-flex-column p-align-center">
    <div class="instruction p-d-flex p-flex-column p-align-center">
      <p class="h2-font p-text-center">List of saved trips</p>
      <img src="/assets/instruction-3.PNG" alt="" class="instruction-image">
    </div>

    <div class="instruction p-d-flex p-flex-column p-align-center">
      <p class="h2-font p-text-center">Creating new trip route</p>
      <img src="/assets/instruction-4.PNG" alt="" class="instruction-image">
    </div>

    <div class="instruction p-d-flex p-flex-column p-align-center">
      <p class="h2-font p-text-center">New trip details</p>
      <img src="/assets/instruction-5.PNG" alt="" class="instruction-image">
    </div>

    <div class="instruction p-d-flex p-flex-column p-align-center">
      <p class="h2-font p-text-center">Show and edit trip</p>
      <img src="/assets/instruction-6.PNG" alt="" class="instruction-image">
    </div>
  </div>

  <div class="p-d-flex p-justify-center" style="margin-bottom: 5rem">
    <button pButton type="button" label="Go to Travels section!" routerLink="/travels"></button>
  </div>
</section>
