<p-toolbar id="header">


  <div class="p-toolbar-group-left">
    <div style="width: 10rem" class="p-d-flex p-align-center p-justify-start">
      <button
        pButton type="button" icon="pi pi-bars" class="p-button-outlined"
        (click)="toggleSidebar.emit(true)"
      ></button>
    </div>
  </div>


  <div class="p-d-flex p-justify-center p-align-center">
    <span class="logo-font">Just</span>
    <div class="logo-container p-ml-5 p-mr-4" (click)="triggerPlaneAnimation()">
      <img src="assets/logo.png" alt="" class="globe">
      <img src="assets/plane.png" alt="" class="plane" [class.animate]="isAnimating">
    </div>
    <span class="logo-font">Travel</span>
  </div>


  <div class="p-toolbar-group-right">
    <div style="width: 10rem" class="p-d-flex p-align-center p-justify-end">
      <button
        pButton type="button" icon="pi pi-user" class="p-button-outlined" label="Log in"
      ></button>
    </div>
  </div>


</p-toolbar>
