<div
  #navContainer
  [ngClass]="position === 'topRight'
    ? 'p-d-flex p-flex-column p-align-end'
    : 'p-d-flex p-justify-center'"
  [ngStyle]="position === 'topRight'
    ? {position: 'sticky', 'z-index': '999', top: '7rem', right: '1rem'}
    : {position: 'sticky', 'z-index': '999', top: '90vh'}"
>

  <ng-container *ngFor="let fragment of fragments; let index = index">

    <button
      pButton type="button" class="p-button-rounded p-button-outlined"
      [ngClass]="position === 'topRight' ? 'p-mb-2' : 'p-mr-2'"
      [icon]="'pi ' + fragment.icon"
      (click)="scrollTo(index)"
      [pTooltip]="fragment.frag" [tooltipPosition]="position === 'topRight' ? 'left' : 'top'"
    ></button>

  </ng-container>

</div>
